@font-face {
  font-family: 'rale';
  src: url('../assets/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'tech';
  src: url('../assets/fonts/ShareTech-Regular.ttf');
}

$Primary-color: #ffad3b;

.primary {
  color: $Primary-color;
}

.timeline-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
}

.timeline-container::after {
  background-color: $Primary-color;
  content: '';
  position: absolute;
  width: 4px;
  left: calc(50% - 2px);
  height: 100%
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  width: 100vw;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 30px;
}

h1, h2 {
  font-family: 'tech';
  color: $Primary-color;
}

h3, h4, h5, p {
  font-family: 'rale';
}

.grey {
  height: 1px;
  width: 100%;
  background-color: rgb(173, 173, 173);
}

.timeline-item-content {
  max-width: 70%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 350px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  position: relative;
  margin: 5px 0;
  h2, h3, p {
    margin: 5px 0;
  }
  h3 {
    margin: 5px 0;
  }
  a {
    margin: 0 5px;
  }
}

.timeline-item-content::after {
  background-color: rgb(255, 255, 255);
  content: ' ';
  transform: rotate(45deg);
  position: absolute;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  right: -7.5px;
  top: calc(50% - 7.5px);
  min-width: 15px;
  min-height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  right: auto;
  left: -7.5px;
}

.timeline-item-content .circle {
  background-color: rgb(255, 255, 255);
  border: 4px solid $Primary-color;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  align-items: flex-start;
  text-align: left;
}

.main {
  display: flex;
  flex-direction: column;
}

a {
  color: #000000;
}


.statement {
  font-family: 'rale';
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  min-height: 1000px;
  .container-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .skills {
      display: flex;
      flex-grow: 1;
      padding: 30px;
      margin: 50px;
      max-width: 520px;
      font-size: 20px;
      justify-content: center;
      align-items: center;
      .bubbles {
        border: 1px solid black;
      }
    }
    .text {
      max-width: 500px;
      padding: 30px;
      margin: 50px;
      color: rgb(0, 0, 0);
      font-size: 20px;
      flex-grow: 1;
      text-align: left;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      h4 {
        font-family: 'tech';
        color: $Primary-color;
        font-size: 40px;
      }
      h5 {
        font-size: 20px;
      }
    }
  }
}

.experiance {
  font-family: 'rale';
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  min-height: 1000px;
  .container-three {
    .title-container {
      width: 100vw;
      display: flex;
      justify-content: center;
      text-align: center;
      background-color: white;
      z-index: 100;
      margin-bottom: 40px;
      .xp-title {
        text-align: center;
        padding: 20px;
        margin: 0;
        font-size: 30px;
        border: $Primary-color 4px solid;
        border-radius: 5px;
      }
    }
    .circle-container {
      width: 100vw;
      display: flex;
      justify-content: center;
      text-align: center;
      background-color: white;
      z-index: 100;
      margin-top: 40px;
      .end-circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: $Primary-color 4px solid;
        background-color: white;
      }
    }
  }
}

.statement-image {
  background-attachment: fixed;
  background-size: cover;
  background-image: url('../assets/25.png');
  margin: 50px 0;
  height: 300px;
}

.xp-image {
  background-attachment: fixed;
  background-size: cover;
  background-image: url('../assets/1a.png');
  margin: 50px 0;
  height: 300px;
}

.vanta { 
  height: 110vh;
  color: black;
  font-family: 'rale';
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.name {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  padding-bottom: 200px;
  .color-box {
    strong {
      font-family: 'tech';
      font-size: 7vw;
      font-weight: normal;
    }
    h4 {
      font-size: 3vw;
      margin-top: 20px;
      font-weight: lighter;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5vw;
  }
}

.fade {
  background-image : linear-gradient(to bottom, 
  rgba(0, 0, 0, 0) 50%, 
  rgb(255, 255, 255) 100%);
  width: 100vw;
  display: flex;
  flex-grow: 1;
}

@media only screen and (max-width: 767px) {
  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    padding: 15px 10px;
    text-align: center !important;
    align-items: center !important;
  }
}

@media only screen and (max-width: 600px) {
  .name {
    .color-box {
      strong {
        font-size: 40px;
      }
      h4 {
        font-size: 20px;
      }
    }
  }
}