@font-face {
  font-family: 'rale';
  src: url('../assets/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'tech';
  src: url('../assets/fonts/ShareTech-Regular.ttf');
}

$Primary-color: #ffae3d;

$grey: rgb(173, 173, 173);

* {
  box-sizing: border-box;
}

#root{
  max-width: 100vw;
}

body {
  font-family: 'rale';
  color: black;
}

.primary {
  color: $Primary-color;
}

h1, h2 {
  font-family: 'tech';
  color: $Primary-color;
  font-size: 3em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-weight: bold;
}

h2 {
  font-size: 24px;
}

h3, h4, h5, p {
  font-family: 'rale';
}

.fivepx {
  margin-top: 5px;
}

.grey {
  height: 1px;
  width: 100%;
  background-color: $grey;
  margin: 15px 0;
}

.main {
  display: flex;
  flex-direction: column;
}

a {
  color: #000000;
}

.navbar {
  background-color: white;
  font-family: 'rale';
  font-weight: bolder;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.3);
  .navbar-brand {
    align-items: center;
    .navbar-item{
      .logo {
        min-height: 50px;
        min-width: 50px;
      }
    }
  }
  .navbar-menu {
    .navbar-start {
      .navbar-link:not(.is-arrowless)::after {
        border-color: $Primary-color;
    }
    }
  }
  a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
    color: $Primary-color
}
} 

.spin{
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }




.vanta { 
  height: 100vh;
  color: black;
  font-family: 'rale';
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.name {
  display: flex;
  flex-grow: 1;
  align-items: center;
  .color-box {
    strong {
      font-family: 'tech';
      font-size: 7vw;
      font-weight: normal;
      color: black;
    }
    h4 {
      font-size: 3vw;
      margin-top: 20px;
      font-weight: lighter;
      color: black;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5vw;
  }
}




.statement {
  font-family: 'rale'; 
  display: flex;
  flex-direction: column;
  .container-one {
    flex-wrap: wrap;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    .skills {
      flex-grow: 1;
      padding: 30px;
      margin: 50px;
      max-width: 500px;
      border: 1px solid black;
      .bubbles {
        border: none;
      }
    }
    .text {
      max-width: 500px;
      padding: 30px;
      margin: 50px;
      color: rgb(0, 0, 0);
      flex-grow: 1;
      text-align: left;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      h4 {
        font-family: 'tech';
        color: $Primary-color;
        font-size: 40px;
      }
      h5 {
        font-size: 20px;
      }
      .profilePic {
        height: 200px;
        width: 200px;
        background-image: url('../assets/Round.png');
        background-size: contain;
      }
      .body {
        font-size: 20px;
      }
    }
  }
  .statement-image {
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('../assets/hand.png');
    margin: 50px 0;
    height: 300px;
  }
}










.projects {
  .container-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    h1::before{
      position: absolute;
      content: '';
      height: 4px;
      background-color: $Primary-color;
      width: 100vw;
      left: 0px;
      top: 71px;
      z-index: -1; 
    }
    h1{
      background-color: white;
      padding: 0 20px;
      margin-bottom: 0;
    }
    .projects-container {
      .gap {
        height: 4px;
        background-color: $Primary-color;
      }
      .project-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
        justify-content: center;
        .project-image {
          display: flex;
          width: 70%;
          justify-content: flex-end;
          height: 600px;
          align-items: center;
          .proj-image-container {
            height: 100%;
            align-items: center;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .chow {
              height: 100%;
              width: 100%;
              background-image: url('../assets/Chowvow_mockup.png');
              background-size: contain;
              background-repeat: no-repeat;
              align-items: center;
              background-position: center;
            }
            .draw {
              height: 100%;
              width: 100%;
              background-image: url('../assets/ConnectDrawMockup.png');
              background-size: contain;
              background-repeat: no-repeat;
              align-items: center;
              background-position: center;
            }
            .Jour {
              height: 100%;
              width: 100%;
              background-image: url('../assets/JournoMockup.png');
              background-size: contain;
              background-repeat: no-repeat;
              align-items: center;
              background-position: center;
            }
            .que {
              height: 100%;
              width: 100%;
              background-image: url('../assets/QueryMockup.png');
              background-size: contain;
              background-repeat: no-repeat;
              align-items: center;
              background-position: center;
            }
            .iro {
              height: 100%;
              width: 100%;
              background-image: url('../assets/IronyMockup.png');
              background-size: contain;
              background-repeat: no-repeat;
              align-items: center;
              background-position: center;
            }
          }
        }
        .project-text {
          width: 50%;
          padding: 30px;
          font-size: 20px;
          text-align: left;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          border-radius: 5px;
          background-color: white;
          .vow {
            background-image: url('../assets/ChowVow_writing.svg');
            height: 100px;
            width: 100%;
            background-repeat: no-repeat;
          }
          .connect {
            background-image: url('../assets/ConnectDraw.svg');
            height: 100px;
            width: 100%;
            background-repeat: no-repeat;
          }
          .no {
            background-image: url('../assets/Journo.svg');
            height: 100px;
            width: 100%;
            background-repeat: no-repeat;
          }
          .ry {
            background-image: url('../assets/Query.svg');
            height: 100px;
            width: 100%;
            background-repeat: no-repeat;
          }
          .ny {
            background-image: url('../assets/IronyLogo.svg');
            height: 100px;
            width: 100%;
            background-repeat: no-repeat;
          }
          h2, h5 {
            margin: 20px 0;
          }
          p {
            font-size: 17px;
          }
          .buttons {
            margin: 20px 0 0 0;
            flex-wrap: wrap;
            display: flex;
            align-content: space-between;
            .button {
              text-decoration: none;
              margin: 0 20px 0 0;
              font-size: 17px;
              border: $Primary-color 1px solid;
              border-radius: 5px;
              padding: 5px 10px;
              color: $Primary-color;
              .fontawesome {
                margin-right: 10px;
              }
            }
          }
        }
        .skills {
          display: flex;
          flex-wrap: wrap;
          p {
            color: $grey;
            margin: 0 5px 0 0 ;
          }
        }
      }
    }
  }
  .projects-image {
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('../assets/chairs.png');
    margin: 50px 0;
    height: 300px;
  }
}

.check{
  display: flex;
  justify-content: center;
  text-align: center;
}







.experiance {
  .container-three {
    margin: 50px 0;
    .title-container {
      width: 100vw;
      display: flex;
      justify-content: center;
      text-align: center;
      background-color: white;
      z-index: 1;
      margin-bottom: 40px;
      .xp-title {
        text-align: center;
        padding: 20px;
        margin: 0;
        border: $Primary-color 4px solid;
        border-radius: 5px;
      }
    }
    .circle-container {
      width: 100vw;
      display: flex;
      justify-content: center;
      text-align: center;
      background-color: white;
      z-index: 1;
      margin-top: 40px;
      .end-circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: $Primary-color 4px solid;
        background-color: white;
      }
    }
  }
  .xp-image {
    background-attachment: fixed;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-image: url('../assets/1aSmall.png');
    margin: 100px 0 50px 0;
    height: 300px;
  }

  .timeline-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: relative; 
    min-height: 1000px;
  }

  .timeline-container::after {
    background-color: $Primary-color;
    content: '';
    position: absolute;
    width: 4px;
    left: calc(50% - 2px); 
    height: 100%
  }

  .timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin: 10px 0;
    width: 50%;
  }

  .timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-right: 0px;
    padding-left: 30px;
  }

  .timeline-item-content {
    max-width: 70%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 350px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    position: relative;
    margin: 5px 0;
    h2, h3, p {
      margin: 5px 0;
    }
    h4 {
      margin: 5px 0;
    }
    a {
      margin: 0 5px;
    }
  }

  .timeline-item-content::after {
    background-color: rgb(255, 255, 255);
    content: ' ';
    transform: rotate(45deg);
    position: absolute;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    right: -7.5px;
    top: calc(50% - 7.5px);
    min-width: 15px;
    min-height: 15px;
  }

  .timeline-item:nth-child(odd) .timeline-item-content::after {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    right: auto;
    left: -7.5px;
  }

  .timeline-item-content .circle {
    background-color: rgb(255, 255, 255);
    border: 4px solid $Primary-color;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
  }

  .timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -40px;
  }

  .timeline-item:nth-child(odd) .timeline-item-content {
    align-items: flex-start;
    text-align: left;
  }
}

.contact {
  .container-four{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title-decoration{
      border: $Primary-color 4px solid;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 50px;
      width: auto;
      h1{
        margin: 10px;
      }
    }
    .contact-text{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
      p {
        padding: 0 20px;
      }
      .footer-email{
        text-decoration: none;
        font-size: 17px;
        border: $Primary-color 1px solid;
        border-radius: 5px;
        padding: 5px 10px;
        color: $Primary-color;
        width: auto;
        margin: 20px 0
      }
      div{
        a{
          margin: 0 10px;
          color: $Primary-color;

        }
      }
    }
  }
  .bottom {
    color: white;
    justify-content: center;
    display: flex;
    background-color: $Primary-color;
    height: 70px;
    align-items: center;
    text-align: center;
    box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.3);
    padding: 0 20px;
  }
}








@media only screen and (max-width: 1500px) {
  .statement {
    .container-one {
      .skills {
        align-items: center;
        margin: 20px;
        .bubbles {
          border: none;
        }
      }
      .text {
        text-align: center;
        margin: 20px;
        .center {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  
  .experiance {
    max-width: 100vw;
  .container-three {
    .title-container {
      justify-content: flex-start;
      padding-left: 9.5%;
      max-width: 350px;
      .xp-title {
        border-radius: 5px 5px 5px 0;
      }
    }
    .circle-container {
      justify-content: flex-start;
      padding-left: 5.5%;
      max-width: 350px;
    }
    .timeline-container {
      margin-left: 20px;
      .timeline-item {
        justify-content: flex-start;
        padding-right: 0px;
        padding-left: 31px ;
        width: 100%;
        .timeline-item-content .circle {
          right: auto;
          left: -40px;
        }
        .timeline-item-content,
        .timeline-item:nth-child(odd) .timeline-item-content {
          padding: 15px 10px;
          text-align: center ;
          align-items: center ;
          justify-content: flex-start ;
          width: 100% ;
          margin-left: 10.5% ;
        }
        .timeline-item-content::after {
          box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
          right: auto;
          left: -7.5px;
        }
      }
    }
    .timeline-container::after {
      left: calc(10% - 2px);
    }
    }
  }
  .projects {
    .container-two {
      .projects-container {
        .project-item {
          .skills{
            justify-content: center;
          }
          .project-image {
            height: 300px !important;
          }
          .project-text {
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .project-logo {
              display: flex;
              justify-content: center;
              flex-direction: column;
              .vow {
                background-position: center;
              }
              .connect {
                background-position: center;
                
              }
              .no {
                background-position: center;
                
              }
              .ry {
                background-position: center;
                
              }
              .ny {
                background-position: center;
              }
            }
          }
            .buttons {
              justify-content: center;
              }
          }
        }
      }
    }
}

@media only screen and (max-width: 1200px) {
  .projects {
    .container-two {
      .projects-container {
        .project-item {
          .project-image {
            width: 95%;
          }
          .project-text {
            width: 80%;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .projects {
    .container-two {
      .projects-container {
        .project-item {
          .project-image {
            width: 95%;
          }
          .project-text {
            width: 90%;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 578px) {
.projects {
  .container-two {
    .projects-container {
      .project-item {
        .project-text {
          .buttons {
            .button {
              margin: 0 20px 15px 0;
              }
            }
          }
        }
        .skills {
          display: flex;
          flex-wrap: wrap;
          p {
            color: $grey;
            margin: 0 5px 0 0 ;
          }
        }
      }
    }
  }
  .projects-image {
    background-attachment: fixed;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-image: url('../assets/chairs.png');
    margin: 50px 0;
    height: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .name {
    .color-box {
      strong {
        font-size: 40px;
      }
      h4 {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 384px) {
  .experiance {
    .container-three {
      .circle-container {
        padding-left: 3.5% !important;
      }
      .timeline-container {
        margin-left: 20px;
        .timeline-item {
          .timeline-item-content,
          .timeline-item:nth-child(odd) .timeline-item-content {
            margin-left: 11%
          }
        }
      }
    }
  }
}











.design-header{
  .design-section{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/design/James Darby_DesignHeader_01.png');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
  }
  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 250px 0 50px 0;
    .color-box{
      border: $Primary-color 4px solid;
      padding: 0.2em 0;
      background-color: white;
      border-radius: 5px;
      text-align: center;
      width: 50%;
      h4, strong{
        color: $Primary-color;
      }
    }
  }
}

.border{
display: flex;
flex-direction: column;
align-items: center;
.history{
  display: flex;
  align-items: center;
  width: 50%;
  margin: 100px 0;
  .history-card{
    padding: 30px;
    color: rgb(0, 0, 0);
    flex-grow: 1;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 20px;
  }
}
.header-image {
  background-image: url('../assets/design/James Darby_DesignHeader_02.png');
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 150px 0 50px 0;
  height: 300px;
  width: 100vw;
}
}




.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title-decoration{
    border: $Primary-color 4px solid;
    padding: 10px;
    border-radius: 5px;
    h1{
      margin: 10px;
    }
  }
  .client {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    .row {
      display: flex;
      flex-direction: row;
      margin: 50px 0;
      width: 90vw;
      justify-content: center;
    .single-left{
      width: 50%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      height: fit-content;
      .nike{
        margin: 40px 0;
      }
      .havs{
        max-width: 80%;
        margin: 40px 0;
      }
      h4{
        font-size: 24px;
        font-weight: lighter;
        color: $Primary-color;
        margin: 20px 0;
        font-family: 'tech';
      }
      p {
        margin-bottom: 10px;
      }
    }
    .gallery {
      display: flex;
      margin: 0 20px;
    }
    }
    .row-reverse {
      display: flex;
      flex-direction: row-reverse;
      margin: 50px 0;
      width: 90vw;
      justify-content: center;
    .single-right{
      width: 50%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      height: fit-content;
      .bacardi{
        max-width: 60%;
        margin: 40px 0;
      }
      .bombay{
        margin: 40px 0;
      }
      
      h4{
        font-size: 24px;
        font-weight: lighter;
        color: $Primary-color;
        margin: 20px 0;
        font-family: 'tech';
      }
      p {
        margin-bottom: 10px;
      }
    }
    .gallery {
      display: flex;
      margin: 0 20px;
    }
    }
  }
  .extra-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 90%;
    h1 {
      margin: 0;
      text-align: center;
    }
    .extra{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 20px 0;
      .extra-image {
        max-height: 400px
      }
    }
  }
  .clients-image {
    background-image: url('../assets/design/James Darby_DesignHeader_03.png');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin: 50px 0;
    height: 300px;
    width: 100vw;
  }
}

.self {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title-decoration{
    border: $Primary-color 4px solid;
    padding: 10px;
    border-radius: 5px;
    h1{
      margin: 10px;
    }
  }
  .project{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    .row {
      display: flex;
      flex-direction: row;
      margin: 50px 0;
      width: 90vw;
      justify-content: center;
    .single-left{
      width: 50%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      height: fit-content;
      .nike{
        margin: 40px 0;
      }
      .havs{
        max-width: 80%;
        margin: 40px 0;
      }
      h4{
        font-size: 24px;
        font-weight: lighter;
        color: $Primary-color;
        margin: 20px 0;
        font-family: 'tech';
      }
      p {
        margin-bottom: 10px;
      }
    }
    .gallery {
      display: flex;
      margin: 0 20px;
    }
    }
    .row-reverse {
      display: flex;
      flex-direction: row-reverse;
      margin: 50px 0;
      width: 90vw;
      justify-content: center;
    .single-right{
      width: 50%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      height: fit-content;
      .bacardi{
        max-width: 60%;
        margin: 40px 0;
      }
      .bombay{
        margin: 40px 0;
      }
      
      h4{
        font-size: 24px;
        font-weight: lighter;
        color: $Primary-color;
        margin: 20px 0;
        font-family: 'tech';
      }
      p {
        margin-bottom: 10px;
      }
    }
    .gallery {
      display: flex;
      margin: 0 20px;
    }
    }
  }
  .extra-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      margin: 0;
    }
    .extra{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 20px 0;
      .extra-image {
        max-height: 400px
      }
    }
  }
  .projects-image {
    background-image: url('../assets/design/James Darby_DesignHeader_04.png');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin: 50px 0;
    height: 300px;
    width: 100vw;
  }
}

.website {  
  display: flex;
  flex-direction: column;
  align-items: center;
  .title-decoration{
    border: $Primary-color 4px solid;
    padding: 10px;
    border-radius: 5px;
    h1{
      margin: 10px;
    }
  }
  .center {
    width: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: fit-content;
    margin: 20px;
    h4{
      font-size: 24px;
      font-weight: lighter;
      color: #ffae3d;
      margin: 20px 0;
      font-family: 'tech';  
    }
  }
  .web-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
    padding-bottom: 50px;
    .website-image{
      max-height: 800px;
      margin: 20px;
      max-width: 95%;
      border: solid $Primary-color 4px;
      padding: 5px;
    }
  }
}

@media only screen and (max-width: 1875px) {
  .clients {
    .gallery {
      max-width: 500px;
    }
  }
  .self {
    .gallery {
      max-width: 500px;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .clients {
    .client {
      .row-reverse {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        .single-right{
          width: 100%;
          margin-bottom: 30px;
          align-items: center;
          text-align: center;
        }
        .gallery {
          max-width: 100% !important;
          margin: 0;
        }
      }
      .row{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        .single-left{
          width: 100%;
          margin-bottom: 30px;
          align-items: center;
          text-align: center;
        }
        .gallery {
          max-width: 100% !important;
          margin: 0;
        }
      }
    }
  }
  .self {
    .project {
      .row-reverse {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        .single-right{
          width: 100%;
          margin-bottom: 30px;
          align-items: center;
          text-align: center;
        }
        .gallery {
          max-width: 100% !important;
          margin: 0;
        }
      }
      .row{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        .single-left{
          width: 100%;
          margin-bottom: 30px;
          align-items: center;
          text-align: center;
        }
        .gallery {
          max-width: 100% !important;
          margin: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1054px) {
  .clients {
    .client {
      .row-reverse {
        .gallery {
          max-width: 460px;
        }
      }
      .row {
        .gallery {
          max-width: 460px;
        }
      }
    }
  }
  .self {
    .project {
      .row-reverse {
        .gallery {
          max-width: 460px;
        }
      }
      .row {
        .gallery {
          max-width: 460px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .design-header{
    .name {
      .color-box{
        width: 80%;
      }
    }
  }
  
  .border{
    .history{
      width: 80%;
    }
  }
}

@media only screen and (max-width: 560px) {
  .design-header{
    .name {
      .color-box{
        width: 90%;
      }
    }
  }
  .border{
    .history{
      width: 90%;
    }
  }
}









.photography-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  margin-bottom: 50px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
  padding-bottom: 30px;
}
.photography-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  .photography-image{
    background-image: url('../assets/photography/James-Darby_Photography Header-01.png');
    width: 100vw;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    .name{
      display: flex;
      justify-content: center;
      strong, h4 {
        color: white;
      }
    }
  }
}

.photos{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  .images{
    text-align: center;
    margin: 50px 100px;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-top: 50px;
    .text-decoration{
      border: $Primary-color 4px solid;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 20px;
      h1{
        margin: 10px;
      }
    }
    .line {
      border-top: $Primary-color 4px solid;
      padding-top: 20px;
    }
    .row{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      iframe{
        margin: 0 20px;
      }
    }
  }
}

@media only screen and (max-width: 946px) {
  .photography-header{
    .photography-image{
      background-position: 64% center;
      }
    }
  .photos{
    display: flex;
    flex-direction: column;
    align-items: center;
    .images-card{
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding: 20px;
      max-width: 700px;
      margin: 100px 0 50px 0;
      text-align: center;
    }
    .images{
      text-align: center;
      margin: 50px 100px;
      flex-direction: column;
      display: flex;
      align-items: center;
      border-top: $Primary-color 4px solid;
      padding-top: 50px;
      .row{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        iframe{
          margin: 20px;
          max-width: 300px;
        }
      }
    }
  }
  }




.art-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-bottom: 50px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
  padding-bottom: 30px;
}
.art-header{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.art{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .images{
    text-align: center;
    margin: 50px 10px 0 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    .description {
      max-width: 1000px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding: 20px;
      text-align: center;
    }
    .show {
      margin: 50px 0;
      display: flex;
      flex-direction: column;
      img{
        max-width: 1000px;
        margin: 70px 0 20px 0;
      }
      .info{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        .info-card{
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          border-radius: 5px;
          padding: 20px;
          // margin-bottom: 50px;
          .rale{
            font-family: 'rale';
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 946px) {
.art{
  .images{
    .description {
    }
    .show {
      img{
        max-width: 100%;
        margin: 20px 0;
      }
    }
  }
}
}

@media only screen and (max-width: 1366px) {
  .statement {
    .statement-image {
      background-attachment: scroll;
      height: 400px;
      border-top: $Primary-color 4px solid;
      border-bottom: $Primary-color 4px solid;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }

  .projects {
    .projects-image {
      background-attachment: scroll;
      height: 400px;
      border-top: $Primary-color 4px solid;
      border-bottom: $Primary-color 4px solid;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }

  .experiance {
    .xp-image {
      background-attachment: scroll;
      height: 400px;
      border-top: $Primary-color 4px solid;
      border-bottom: $Primary-color 4px solid;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }

  .design-header{
    .design-section{
      background-attachment: scroll;
    }
  }

  .border{
    .header-image {
      background-attachment: scroll;
      height: 400px;
      background-position: center;
      border-top: $Primary-color 4px solid;
      border-bottom: $Primary-color 4px solid;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }

  .clients {
    .clients-image {
      background-attachment: scroll;
      height: 400px;
      background-position: center;
      border-top: $Primary-color 4px solid;
      border-bottom: $Primary-color 4px solid;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }

  .self {
    .projects-image {
      background-attachment: scroll;
      height: 400px;
      background-position: 50% 20%;
      border-top: $Primary-color 4px solid;
      border-bottom: $Primary-color 4px solid;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      
    }
  }
}